p {
    padding: 5px;
    margin: 0px;}
#p1{
    background-color: #24A0ED;
} 
#p2{
    background-color: #3CA9ED;
} 
#p3{
    background-color: #53B2ED;
}
#p4{
    background-color: #6BBBED;
}
#p5{
    background-color: #83C4ED;
}
#p6{
    background-color: #9ACDED;
}
#p7{
    background-color: #B2D6ED;
}
#p8{
    background-color: #329B24;
}
#p9{
    background-color: #eec4dc;
}
#p10{
    background-color: #e5a0c6;
}
#p11{
    background-color: #e27bb1;
}
#p12{
    background-color: #e2619f;
}
#p13{
    background-color: #e44b8d;
}
#p14{
    background-color: #d24787;
} 
#p15 {
    background-color: #bb437e;
}
#p16{
    background-color: #817a7d;
}